# ===== Ignore everything
*.*

# ===== But these
!/.gitignore

# 编译脚本
!/*.sh

# 根目录
!/*.tex
!/*.md

# 文档类源码
!/style/
!/style/*


# 正文部分
!/main/
!/main/*.tex
!/appendix/
!/appendix/*.tex
!/pics/
!/pics/*
!/refs/
!/refs/*.bib

